*{
    margin:0;
    padding:0;
    box-sizing: boreder-box;
    font-family: comic sans ms;
}

body{
    width: 100%;
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container{
    width: 430px;
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1{
    margin-bottom: 30px;
}
.box1{
    font-size: 24px;
    margin-bottom: 10px;
}

input{
    width: 100px;
    height: 30px;
    font-size: 22px;
    margin-bottom: 10px;
    text-align: center;
}


button{
    border-radius: 20%;
    border: none;
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
    border: none;
    box-shadow: 0 5px aquamarine;
    background-color: rgb(69, 227, 180);
    display: inline-block;
    outline: none;
    font-size: 22px;
    width: 100px;
    height: 50px;
    }
    button:hover{
        transform: scale(1.2, 1.2);
        background-color: white;
    }
    button:active{
        background-color: rgb(69, 227, 180);
        box-sizing: 0 5px gray;
        transform: translateY(2px);
    }